@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(720deg);
    }
}

div{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: aquamarine;
    animation: rotation 1s ease-in-out infinite alternate;
}