#lightbox{
    height: 0;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: all 2s ease-in-out;
}

#lightbox:target{
    height: 30%;
    width: 30%;
    background-color: lightgrey;
    margin-top: 25%;
    margin-left: 25%;
}