body{
    margin: 0px;
}

html{
    font-size: 15px;
}

/* Text-Center */
.text-center{
    text-align: center;
}

/* Body-Header */
#body-header{
    height: 65vh;
    width: 100vw;
    background-image: url("macbook_mouse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
}

/* Horizontal-list */
.horizontal-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 0px 8px;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
}

.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover{
    color: lightgrey;
    border-bottom: 1px solid lightgrey;
}

/* Name-Social Container */
#name-social-container{
    margin-top: 20vh;
}

#my-name{
    font-size: 4rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
    letter-spacing: 0.2rem;
}

/* Social-Icons */
.social-icons li a i{
    font-size: 1.4rem;
    padding: 8px;
    border-radius: 50%;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(290,196,196,0.3);
}

/* Sections */
section{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n+1) {
    background-color: white;
}

section:nth-child(2n) {
    background-color: lightgrey;
}

/* Common text-highlight Classes */
.text-highlight{
    color: #2857a4;
    font-weight: 700;
}

/* Common Margin Classes */
.mb75px{
    margin-bottom: 75px;
}

/* About Section */
#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -15vh;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1.5px solid lightgrey;
    box-shadow: 0px 0px 6px 4px lightgrey;
}

#about-para{
    padding: 10px;
    width: 70%;
    height: 100%;
    text-align: justify;
    font-family: sans-serif;
    line-height: 28px;
    color: grey;
    font-size: 1.1rem;
    margin: auto;
    font-weight: 100;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
}

.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/* Skills Section */
.skills-display{
    width: 70%;
    /* height: 100px; */
    /* border: 2px solid black; */
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

.skill-progress{
    width: 7rem;
    height: 1.4rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
    border: 1px solid black;
    margin-bottom: 50px;
}

.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}

.skill-name span{
    color: white;
    font-size: 1rem;
    margin-left: 5px;
}

/* C++ Skill */

.fifty-percent{
    height: inherit;
    width: 50%;
}

.mb-blue{
    background-color: #2857a4;
}

/* HTML Skill */
.ninty-percent{
    height: inherit;
    width: 90%;
}

.mb-orange{
    background-color: orange;
}

/* CSS Skill */
.eighty-percent{
    height: inherit;
    width: 80%;
}

.mb-light-pink{
    background-color: #93738C;
}

/* JavaScript Skill */
.seventy-percent{
    height: inherit;
    width: 70%;
}

.mb-green{
    background-color: green;
}

/* NodeJS Skill */
.sixty-percent{
    height: inherit;
    width: 60%;
}

.mb-light-blue{
    background-color: #2857a4;
}

/* MOngoDB Skill */
.eighty-five-percent{
    height: inherit;
    width: 85%;
}

.mb-red{
    background-color: red;
}